@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ce code s'appliquera quoi qu'il arrive */
body {
  margin: 0;
  padding: 0;
  background-color: #030303 !important; /* Noir profond */
  color: #8b5cf6 !important; /* Violet */
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
}

#root {
  background-color: #030303;
  min-height: 100vh;
}